@model Courses.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        Редактирование аккаунта №@Model.Id
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "alert-danger" })
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label>Имя пользователя</label>
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Адрес электронной почты</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Активность</label>
                @Html.CheckBoxFor(m => m.IsActive, new { @class = "checkbox" })
            </div>
            <div class="form-group">
                <label>Роль</label>
                @Html.DropDownListFor(m => m.Role,Model.Roles,null, new { @class = "form-control" })
            </div>
        </div>
        <div class="panel-footer">
            @Html.ActionLink("Назад к списку", "Index",new{}, new { @class = "btn btn-default" })
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    }
</div>