<!DOCTYPE html>
<html lang="en">
<head>
    @using Courses.Gui.Client.Models
    @model LoginViewModel
    @{
        ViewBag.Title = "Log in";
    }
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap-social.css")
    @Styles.Render("~/Content/CSS/font-awesome.css")
    @Styles.Render("~/Content/CSS/index.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
   
</head>
<body>
    <nav class="navbar navbar-default navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active" href="#">Course Cloud</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li>@Html.ActionLink("Регистрация", "Register")</li> 
                </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" id="enter-button" data-toggle="dropdown"><b>Войти</b> <span class="caret"></span></a>
                            <ul id="login-dp" class="dropdown-menu">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Войти через
                                            <div class="social-buttons">
                                                <a href="#" class="btn btn-facebook"><i class="fa fa-fb"></i> Facebook</a>
                                                <a href="#" class="btn btn-vk"><i class="fa fa-vk"></i> Вконтакте </a>
                                                <a href="#" class="btn btn-odnoklassniki"><i class="fa fa-odnoklassniki"></i> Одноклассники</a>
                                                <a href="#" class="btn btn-instagram"><i class="fa fa-instagram"></i> Instagram </a>
                                                <a href="#" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
                                                <a href="#" class="btn btn-pinterest"><i class="fa fa-pinterest"></i> Pinterest</a>
                                            </div>
                                            или
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form",method="post",
    action="login",id = "login-nav"
}))
{
    @Html.AntiForgeryToken()

                                          <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                  <div class="form-group">
                                                      @Html.Label("E-mail",new { @class="src-only"})
                                                      @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", id = "exampleInputEmail2", placeholder = "e-mail", required = true })
                                                      @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                   @Html.Label("Пароль",new { @class = "src-only" })
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "exampleInputPassword2" , placeholder = "пароль", required =true})
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                    <div class="help-block text-center"><a href="">Забыли пароль ?</a></div>
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.RememberMe)
                                                        @Html.Label("Запомнить пароль")
                                                    </div>
                                                </div>
                                              
                                                <div class="form-group">
                                                    <input type="submit" value="Войти" id="enterButton" class="btn btn-primary btn-block" />
                                                </div>

                                            </form>
}
                                        </div>
                                        <div class="bottom text-center">
                                            Еще не с нами? @Html.ActionLink("Зарегистрироваться", "Register")
                                        </div>
                                    </div>
                                </li>
                            </ul>
                       
                        </li>
                    </ul>

                    <form class="navbar-form navbar-right" role="search">
                        <div class="row">
                            <div class="form-group">
                                <div class="icon-addon addon-md">
                                    <input type="text" placeholder="Поиск" class="form-control" id="serach">
                                    <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="search"></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Все права защищены</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)

</body>
</html>
