@model Courses.ViewModels.ProductWithCategorysViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Детальная информация о курсе "@Model.Name"</h3>
        
    </div>
    <dl class="dl-horizontal">
        @Html.AntiForgeryToken()

        <dt>
            @Html.Label("Id курса")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatsCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            Категории
        </dt>   
        <dd>
            <ul style="padding-left: 10px;">
                @if (Model.Categorys != null)
                 {

                foreach (Courses.ViewModels.CategoryViewModel c in Model.Categorys)
                {
                        <li>@c.Name</li>
                    }

                }
            </ul>
        </dd>


        @if (Model.Image != null)
        {
                <div id="myImageConteiner">
                    @Html.Raw("<img id=\"myImage\" src=\"data:image/jpeg;base64,"
                                        + Convert.ToBase64String(Model.Image) + "\" />")
                </div>
        }
</dl>
</div>
<p>
    @Html.ActionLink("Назад к списку", "Index", new { }, htmlAttributes: new { @class="btn btn-warning"})
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, htmlAttributes: new { @class="btn btn-success"})
    @Html.ActionLink("Категории продукта", "EditProductCategorys", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-success" })
</p>
